@charset "UTF-8";
@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

// MIXIN
@mixin fs($fs) {
    font-size: $fs + px;
    font-size: calc((#{$fs} / 16) * 1rem);
    line-height: 1.5em;
}

@mixin fs-base() {
    @include fs(16);
}

@mixin mq() {
    @media screen and (min-width: 767px) {
        @content;
    }
}

@mixin trans($sec: 0.2s) {
    -webkit-transition: $sec ease-in-out;
    -moz-transition: $sec ease-in-out;
    transition: $sec ease-in-out;
}


// COMMON SETTINGS
$black: #2D0C59;
$d-black: #1B0736;
$pink: #E770C2;
$l-pink: #f9ddf1;
$d-pink: #b91f89;
$yellow: #F7C619;
$blue: #37F2EE;
$green: #62EDB2;

* {
    box-sizing: border-box;
}


html,
body {
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat',
        'Roboto',
        'Helvetica Neue',
        Arial,
        'Noto Sans JP',
        sans-serif;
    @include fs-base;
    font-feature-settings: "palt" 1;
    text-align: center;
}